# On unix
*.out
*.o

# For CMake
build/

# On windows

*.exe

# For emacs, vim
*~
\#*
.\#*

# For ccls (language server)
.ccls-cache/

# For ghc
*.hi

in
out

# On darwin

.DS_store

rs/toy-proj/target/